.app-header {
  background: linear-gradient(to right, rgba(147,0,0,1) 0%, rgba(147,0,0,1) 52%,
  rgba(130,6,5,1) 61%, rgba(98,17,15,1) 78%, rgba(56,31,27,1) 100%);
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 0 10px 2px grey;
}


.app-footer {
  position: fixed;
  bottom: 0;
  height: 75px;
  width: 100%;
  background-color: #282c34;
  color: white;
  padding: 15px;
  box-shadow: 1px -2px 10px grey;
}

.left {
  float:left;
}

.right {
  float: right;
}

.app-footer div {
  margin: 15px;
  font-size: 18px;
  font-weight: bold;

}
.middle {
  text-align: center;
}

.header-text {
  padding: 15px;
}

main {
  flex:auto;
  margin: 15px;
}

.introduction .title{
  text-align: center;
}

.introduction {
  text-align: center;
  margin-top: 25px;
}

.aligned {
  text-transform: uppercase;
  letter-spacing: 15px;
  font-family: monospace;
}

.aligned-spacers {
  text-transform: uppercase;
  letter-spacing: 15px;
}

.output {
  box-shadow: 1px 1px 5px 0 grey;
  margin: 25px auto;
  width: fit-content;
  display: table;
  padding: 25px;
}

.output .alignment-section .section-header,  .output .grid-section .section-header {
  padding: 25px 0 15px 0;
  border-bottom: 1px solid #c54e4e;
}

.output .alignment-section {
    margin: 0 auto;
}

.output .grid-section {
    margin: 0 auto;
    display: table;
}

.output .grid-section h3 {
  text-align: center;
}

.output .alignment-section h3 {
  text-align: center;
}

.output .alignment-section .section {
  text-align: center;
}

.output .alignment-section .section, .output .grid-section .section {
  margin-top: 25px;
}

.highlight {
  background-color: #930000 !important;
  color: white;
}