.seq1, .seq2 {
    width: inherit;
    margin: 25px 0 25px 0;
    height: 45px;
    text-align: center;
    text-transform: uppercase;
}

.compare-icon {
    font-size: 24px;
    width: 100px;
    margin-left: 49%;
}

.compare-btn {
    background-color: rgba(130,6,5,1);
    color: white;
    width: 250px;
    margin-left: 43%;
}

.compare-btn:hover {
    opacity: 0.6;
    color: white;
}